# --- DATABASE ---
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=secret

DB_USER=admin
DB_PASS=secret

DB_HOST=mongo
DB_PORT=27017
DB_NAME=appdb

# --- BACKEND ---
PORT=5000
ALLOWED_ORIGINS=http://localhost:3000,http://localhost